#main-container {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#the-eye-container #the-lid {
    width: 11rem;
    height: 10rem;
    background-color: #ffcc99;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#the-eye-container #the-lid-shadow {
    width: 11rem;
    height: 11rem;
    background-color: #ffb366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#the-eye-container #the-eyelash {
    background-color: black;
    width: 10rem;
    height: 5rem;
    padding: .5rem 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .5s;

}

#the-eye-container #the-white {
    background-color: white;
    width: 10rem;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#the-eye-container #the-iris {
    background-color: black;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

#pass-container {
    display: flex;
    width: 100%;
}

#pass-container #pass-field {
    position: relative;
    background-color: white;
    padding: 1rem 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    height: 24px;
    width: calc(100% - 3rem);
    overflow: hidden;
    border-radius: 1rem;
    flex-grow: 1;
    outline: none;
    border: none;
    cursor: text;
    display: flex;
    align-items: center;

    box-shadow: 0 0 1rem 0 transparent;
    transition: box-shadow .5s;
}

#pass-container #content-container {
    display: flex;
    align-items: center;
    width: fit-content;
}
@keyframes fadeInOut {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#pass-container #pass-field .pointer {
    position: absolute;
    height: 24px;
    width: 1px;
    transition: background-color .5s, transform .5s;
}

#pass-container #pass-field:focus .pointer {
    animation: fadeInOut 1s infinite alternate;
    background-color: #333;
}

#pass-container #pass-field:focus {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.25);
}